# EditorConfig is awesome: https://editorconfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
insert_final_newline = true
trim_trailing_whitespace = true

[*.{yaml,yml,lua,md,tf,j2,html,vto,sh,nix}]
indent_style = space
indent_size = 2

[*.{go,c}]
indent_style = tab

# Tab indentation (no size specified)
[Makefile]
indent_style = tab
